.container {
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;

  .wrapper {
    margin: 12px;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;

    &:hover {
      border-color: #d9d9d9;
    }
  }

  .selected {
    border-color: #1890ff !important;
  }

  .locked {
    opacity: .5;
    cursor: not-allowed;
  }

  .components {
    pointer-events: none;
  }
}