.wrapper {
  padding: 10px 50px 5px 20px;
  display: flex;

  .title {
    flex: auto;
    line-height: 2;
  }

  .selected {
    color: #1890ff
  }

  .handler {
    width: 60px;
    text-align: end;

    .btn {
      opacity: .2;
    }
  }

  &:hover {
    .handler {
      .btn {
        opacity: 1;
      }
    }
  }
}

.divider {
  margin: 0;
}