.container {
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 3px;
  background-color: #fff;

  &:hover {
    box-shadow: 0 4px 10px #e8e8e8;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    margin: 0 10px;
  }
}

.action_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}